altgraph==0.17.4
colorama==0.4.6
fpdf==1.7.2
greenlet==3.1.1
keyboard==0.13.5
markdown-it-py==3.0.0
mdurl==0.1.2
openpyxl==3.1.2
packaging==24.2
pefile==2023.2.7
psutil==7.0.0
PyArmor==8.5.2
PyGetWindow==0.0.9
Pygments==2.17.2
pyinstaller==6.12.0
pyinstaller-hooks-contrib==2025.1
pynput==1.8.0
PyRect==0.2.0
pywin32==309
pywin32-ctypes==0.2.3
rich==13.7.1
six==1.17.0
SQLAlchemy==2.0.39
typing_extensions==4.12.2
